.idea*
results_*.html
rsearch % ls -a
.
..
.DS_Store
.git
.gitignore
__pycache__*
data*
flags*
format_schemas*
metadata*
metadata.parquet*
metadata_dropped*
output.jsonl*
output.txt*
preprocessed_configs*
store*
tmp*
user_files*
uuid*
.DS_Store
